<%- include header.ejs%>
<div class="main box">
    <div class="box">

        <div class="box_404">
            <div class="img">
                <img src="/images/404.jpg">
            </div>
            <ul>
                <li>
                    <div class="text">
                        <a href="/">返回首页</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include footer.ejs%>