<div id='notLoginHeader' class="header box">
    <!-- 创建导航条 -->
    <ul class="nav">
        <li>
            <a href="/login">登录</a>
        </li>
        <li>
            <a href="/register">注册</a>
        </li>
    </ul>

    <!-- 设置logo -->
    <h1 class="logo">
        <a href="/">TODO List</a>
    </h1>

</div>